.checkout-cart-item {
  max-width: 900px;
  padding: 15px;
  border: 1px solid rgb(231, 221, 214);
  background-color: #fff;
}

.checkout-cart-item-img {
  width: 90px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 5%;
}

.checkout-cart-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.checkout-cart-item-info {
  display: flex;
  align-items: center;
  color: var(--main-color);
  width: 200px;
  margin-right: 15px;
}

.checkout-cart-item-name {
  color: rgb(174, 137, 88);
}

.checkout-cart-item-quantity,
.checkout-cart-item-price,
.checkout-cart-item-subtotal {
  width: 100px;
  color: rgb(68, 48, 23);
}

.checkout-cart-item-quantity-number {
  display: inline-block;
  min-width: 30px;
  text-align: center;
}

.checkout-cart-item-quantity button {
  border: none;
  background-color: rgba(149, 82, 1, 0.5);
  color: #fff;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.checkout-cart-item-quantity button:hover {
  background-color: rgba(149, 82, 1);
}

.checkout-cart-item-action {
  display: flex;
}

.checkout-cart-item-remove-btn button {
  background: none;
  border: none;
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}
.checkout-cart-item-remove-btn:hover {
  filter: brightness(0.5);
}

@media screen and (max-width: 620px) {
  .cart-grid-layout {
    display: grid;
    grid-template-columns: 90px 1fr 80px;
    align-items: center;
    grid-template-areas:
      "img info remove"
      "img price  qty";
    gap: 8px;
    width: 100%;
  }

  .checkout-cart-item-info,
  .checkout-cart-item-price,
  .checkout-cart-item-quantity {
    width: auto;
    margin: 0;
  }

  /* grid排版 */
  .checkout-cart-item-img {
    grid-area: img;
  }
  .checkout-cart-item-remove-btn {
    grid-area: remove;
    justify-self: end;
  }
  .checkout-cart-item-quantity {
    grid-area: qty;
    justify-self: end;
  }
  .checkout-cart-item-price {
    grid-area: price;
  }

  .checkout-cart-item-info {
    display: block;
  }

  .checkout-cart-item-img {
    grid-row: span 2;
    align-self: center;
  }

  .checkout-cart-item-info h3 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: info;
    min-width: 0;
  }
  .checkout-cart-item-flavor {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .checkout-cart-item-subtotal {
    display: none;
  }
}
