.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}

.modal-content {
  background: #fff;
  padding: 40px 20px 20px;
  max-width: 700px;
  position: relative;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .modal-content {
    display: flex;
    position: relative;
    top: 80px;

    width: 90%;
    min-width: 300px;
    justify-content: center;
  }
  .product-detail-content {
    display: block;
  }
  .product-title {
    margin: 10px 0;
  }
}
