.announcement-wrapper {
  width: 100%;
  background-color: var(--section-color);
}

.announcement {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  line-height: 1.8;
}

.announcement h1 {
  font-size: 28px;
  margin-bottom: 24px;
  color: #8e6330;
}

.announcement h2 {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 8px;
  color: #b5a693;
}

.announcement hr {
  border: none;
  height: 0.8px;
  background-color: #b9bfc2;
  margin-top: 20px;
}
