/* product-detail-content */
.product-detail-content {
  display: flex;
  gap: 20px;
}

/* productGallery */
.product-gallery {
  display: flex;
  flex: 1;
  max-width: 450px;
  gap: 10px;
}

.gallery-main img {
  width: 100%;
  aspect-ratio: 1 / 1;

  object-fit: cover;
  display: flex;

  border-radius: 12px;
  background: #f5f5f5;
}

.gallery-thumbs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.thumb {
  padding: 0;
  border: none;
  cursor: pointer;

  width: 72px;
  aspect-ratio: 1 / 1;

  border-radius: 8px;
  overflow: hidden;

  opacity: 0.6;
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
}
.thumb img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
}
.thumb.active {
  opacity: 1;
  box-shadow: 0 0 0 2px #820b0b;
}
.thumb:hover {
  opacity: 1;
}

/* productInfo */
.product-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.product-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.product-description {
  line-height: 1.5;
  color: rgb(80, 68, 5);
  letter-spacing: 1px;
  padding: 14px 0;
  border-bottom: 2px solid rgb(235, 223, 223);
}

.product-price {
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color);
  letter-spacing: 1px;
}

.quantity-control {
  text-align: center;
}
.quantity-control span {
  color: var(--main-color);
  font-weight: 600;
  padding: 6px 12px;
}
.quantity-control button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 12px;
  cursor: pointer;
  color: var(--main-color);
}

.add-to-cart {
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgb(144, 104, 18, 0.7);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-to-cart:hover {
  background-color: rgb(144, 104, 18);
}

/* @media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    gap: 32px;
  }

  .product-gallery {
    max-width: 100%;
  }
} */
