.category-page {
  width: 100%;
  padding: 40px;
  background-color: var(--section-color);
}
.category-title {
  color: var(--main-color);
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}
.category-product-list {
  display: flex;
  gap: 16px;
  padding: 24px 10px;
  max-width: 1100px;
  margin: 0 auto;

  flex-wrap: nowrap;
  justify-content: center;
}
