.product-detail {
  display: flex;
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  gap: 60px;
}

.product-detail-image {
  max-width: 400px;
  aspect-ratio: 1/1;
}

.product-detail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
