.product-detail-wrapper {
  background-color: #f9f5f0;
}

.product-detail {
  display: flex;
  box-sizing: border-box;
  max-width: 1100px;
  margin: auto;
  padding: 40px;
  gap: 60px;
  align-items: center;
}

.product-detail-image {
  max-width: 400px;
  aspect-ratio: 1/1;
}

.product-detail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.undefined {
  color: rgb(215, 152, 152);
  background-color: var(--section-color);
  text-align: center;
  font-size: 24px;
  padding: 200px;
}
