.mobile-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.mobile-backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

.mobile-logo-img {
  width: 80px;
  padding: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 2001;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  overflow-y: auto;
}
.mobile-menu.show {
  transform: translateX(0);
  pointer-events: auto;
}

.mobile-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--main-color);
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--section-color);
}

.mobile-nav a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mobile-nav a:hover {
  background-color: var(--main-color);
  color: #fff;
}
