.product-gallery {
  flex: 1;
  max-width: 450px;
}

.product-gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;

  object-fit: cover;
  display: block;

  border-radius: 12px;
  background: #f5f5f5;
}

.product-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

.product-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.product-description {
  line-height: 1.5;
  color: rgb(80, 68, 5);
  letter-spacing: 1px;
  padding: 14px 0;
  border-bottom: 2px solid rgb(235, 223, 223);
}

.product-price {
  font-size: 22px;
  font-weight: 600;
  color: var(--main-color);
  letter-spacing: 1px;
}

/* @media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    gap: 32px;
  }

  .product-gallery {
    max-width: 100%;
  }
} */
