.product-card {
  display: flex;
  flex: 0 0 280px;
  flex-direction: column;
  align-items: stretch;
}

.product-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-add-btn {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 48px;

  background: rgba(131, 102, 28, 0.9);
  color: #fff;
  border: none;
  cursor: pointer;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.product-image:hover .hover-add-btn {
  transform: translateY(0);
}

.product-image:hover img {
  filter: brightness(0.9);
  transition: filter 0.3s ease;
}

.product-card-info {
  width: 100%;
  color: var(--main-color);
  text-align: center;
  padding: 10px;
}
.product-card-info p {
  font-weight: 600;
  margin-top: 4px;
}
