.product-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  flex: 0 0 280px;
}

.product-card {
  width: 100%;
}

.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 5%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
