.section-title {
  color: var(--main-color);
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.product-list {
  display: flex;
  gap: 16px;
  padding: 24px 10px;
  max-width: 1100px;
  margin: 0 auto;

  flex-wrap: wrap;
  justify-content: center;
}

.view-more {
  text-align: center;
}

.view-more-btn {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  padding: 5px 80px;
  border-radius: 5px;
}
