:root {
  --main-color: rgb(124, 91, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
}
